<header>
  <div class="logo">
    <img
      routerLink="/"
      [src]="
        isDark
          ? '../assets/personal/johndevwhite.png'
          : '../assets/personal/johndevblack.png'
      "
      alt="logo"
      width="120"
    />
  </div>
  <div class="right-header">
    <input type="text" placeholder="  🔎  Buscar..." />
    <div class="links">
      <a (click)="changeMode()">
        <img
          [src]="
            isDark ? '../assets/modes/sun.png' : '../assets/modes/moon.png'
          "
          [alt]="isDark ? 'Luna' : 'Sol'"
          width="25"
        />
      </a>
      <a href="#" target="_blank">
        <img src="../assets/social/github.png" alt="Github" width="25" />
      </a>
      <a href="#" target="_blank">
        <img src="../assets/social/quora.webp" alt="Quora" width="25" />
      </a>
      <a href="#" target="_blank">
        <img src="../assets/social/linkedin.png" alt="Linkedin" width="25" />
      </a>
    </div>
  </div>
</header>
<div class="effect-blur"></div>

<router-outlet></router-outlet>

<footer>
  <p>
    &copy; 2022 JohnDev (John Gualteros)
    <strong
      >Design inspired in
      <a href="https://midu.dev" target="_blank">midulive</a></strong
    >
  </p>
</footer>

<div class="spotify">
  <iframe
    style="border-radius: 12px"
    src="https://open.spotify.com/embed/playlist/37i9dQZF1DWWQRwui0ExPn?utm_source=generator&theme=0"
    width="100%"
    height="80"
    frameBorder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"
  ></iframe>
</div>
